name: ENV Variables
on: push
env:
  WF_ENV: Available to all jobs

jobs: 
  log-env:
    runs-on: ubuntu-latest
    env: 
      JOB_ENV: Available to all steps in log-env job
    steps:
    - name: Log ENV Variables
      env: 
        STEP_ENV: Available to only this steps
      run: |
        echo "WF_ENV: ${WF_ENV}"
        echo "JOB_ENV: ${JOB_ENV}"
        echo "STEP_ENV: ${STEP_ENV}"
    - name: Log ENV 2
      run: |
        echo "WF_ENV: ${WF_ENV}"
        echo "JOB_ENV: ${JOB_ENV}"
        echo "STEP_ENV: ${STEP_ENV}"
  log-default-env:
    runs-on: ubuntu-latest
    steps: 
      - name: default ENV Variables
        run: |
          echo "HOME: ${HOME}"
          echo "GITHUB_WOEKFLOW: ${GITHUB_WOEKFLOW}"
          echo "GITHUB_RUN_ID: ${GITHUB_RUN_ID}"
          echo "GITHUB_ACTION: ${GITHUB_ACTION}"
          echo "GITHUB_ACTIONS: ${GITHUB_ACTIONS}"
          echo "GITHUB_ACTOR: ${GITHUB_ACTOR}"
          echo "GITHUB_REPOSITORY: ${GITHUB_REPOSITORY}"
          echo "GITHUB_SHA: ${GITHUB_SHA}"
          echo "GITHUB_REF: ${GITHUB_REF}"
          echo "WF_ENV: ${WF_ENV}"
          echo "JOB_ENV: ${JOB_ENV}"
          echo "STEP_ENV: ${STEP_ENV}"